@import url(http://fonts.googleapis.com/css?family=Raleway:300,400,500,600,700);
@import url(http://fonts.googleapis.com/css?family=Cardo:400,400italic,700);
body{
    font-size: 16px;
    font-family: 'RalewayBold', sans-serif;
    min-width: 320px;
}
nav{
    height: 30px;
    line-height: 30px;
    background-color: #888888;
}
.menu{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.menu li{
    display: inline-block;
}
.menu li:hover{
    background-color: #0f0f0f;
}
.menu li a{
    color: #fff;
    text-transform: uppercase;
    font-family: 'RalewayBold', sans-serif;
    font-weight: bold;
    margin: 0 15px;

}
.menu li a:hover,
.menu li a:focus{
    text-decoration: none;
    color: #e1e1e1;
}